<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Diploma in Computer Science | FOCS</title>
  <link rel="icon" type="image/png" href="/static/favicon.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/plStyle.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}">
</head>
<body translate="no">
  <div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>
  <div class="container">
    <!-- Navigation bar -->
    <nav class="main-nav">
      <img class="logo" src="/static/logo.png" alt="Tunku Abdul Rahman University of Management and Technology" />

      <ul class="main-menu">
        <li>
          <a href="#">Home</a>
        </li>

        <li>
          <a href="#">About Us</a>
        </li>

        <li>
          <a href="#">Facilities</a>
        </li>

        <li>
          <a href="#">Research</a>
        </li>

        <li>
          <a href="#">External Advisors</a>
        </li>

        <li>
          <a href="#">Our Team</a>
        </li>
      </ul>

      <ul class="right-menu">
        <li>
          <a href="#">
            <i class="fas fa-search"></i>
          </a>
        </li>
      </ul>
    </nav>

    <header class="animate-top">
      <h1>Diploma in Computer Science</h3>
    </header>

    <ol class="breadcrumb">
      <li><a href="/programmes">Programmes</a></li>
      <li>Diploma in Computer Science</li>
    </ol>

    <section>
      <!-- Images -->
      <div class="content section">
        <img src="/static/pImages/RSW_1.jpg" style="width:50%">
        <img src="/static/pImages/RDS_2.jpg" style="width:50%">
      </div>

      <div class="card panel">
        <!-- Tab Menu -->
        <div class="bar border-bottom light-grey" style="margin-bottom: 10px;">
          <a class="bar-item button tablink dark-grey" onclick="openTab(event, 'ProgrammeOverview')">Programme Overview</a>
          <a class="bar-item button tablink" onclick="openTab(event, 'MinimumEntryRequirements')">Minimum Entry Requirements</a>
          <a class="bar-item button tablink" onclick="openTab(event, 'ProgrammeOutline')">Programme Outline</a>
          <a class="bar-item button tablink" onclick="openTab(event, 'CareerProspects')">Career Prospects</a>
          <a class="bar-item button tablink" onclick="openTab(event, 'FeesFinancialAids')">Fees & Financial Aids</a>
        </div>

        <!-- Start of tab contents -->
        <div id="ProgrammeOverview" class="container animate-opacity detail" style="display: block;">
          <i class="fa fa-book"></i><strong> Programme Overview</strong>
          <p align="justify">Students are trained in both theoretical knowledge and practical skills for software development, system design and related mathematical techniques.</p>

          <i class="fa fa-calendar-check-o"></i><strong> Intake</strong>
          <p>June</p>

          <i class="fa fa-clock-o"></i><strong> Duration</strong>
          <p>2 years</p>

          <i class="fa fa-building"></i><strong> Campus</strong>
          <ul class="bullets">
            <li>KL Main Campus</li>
            <li>Penang Branch Campus</li>
            <li>Johor Branch Campus</li>
          </ul>

          <i class="fa fa-arrow-circle-up"></i><strong> Academic Progression:</strong>
          <p>Graduates may be admitted into Year 2 of:</p>
          <ul class="bullets">
            <li><a href="/programmes/rmm">Bachelor of Science (Honours) in Management Mathematics with Computing</a></li>
            <li><a href="/programmes/rsw">Bachelor of Software Engineering (Honours)</a></li>
            <li><a href="/programmes/rst">Bachelor of Computer Science (Honours) in Interactive Software Technology</a></li>
            <li><a href="/programmes/rds">Bachelor of Computer Science (Honours) in Data Science</a></li>
          </ul>
          <div class="image-container">
            <img src="/static/pImages/academic_progression.jpg" alt="Academic Progression"/>
          </div>
        </div>

        <div id="MinimumEntryRequirements" class="container animate-opacity detail" style="display: none;">
          <i class="fa fa-list"></i><strong> Minimum Entry Requirements</strong>
          <div class="image-container">
            <a href="/static/pImages/diploma_requirements.jpg" target="_blank">
              <img src="/static/pImages/diploma_requirements.jpg" caption="false">
            </a>
          </div>
        </div>

        <div id="ProgrammeOutline" class="container animate-opacity detail" style="display: none;">
          <i class="fa fa-book"></i><strong> Programme Outline</strong>
          <ul class="bullets" style="margin: 10px;">
            <li>Introduction to Information Technology</li>
            <li>Programming Concepts and Design I</li>
            <li>Programming Concepts and Design II</li>
            <li>Operating Systems</li>
            <li>Web Design and Development</li>
            <li>Systems Analysis and Design</li>
            <li>Object-Oriented Programming Techniques</li>
            <li>Computer Systems Architecture</li>
            <li>Fundamentals of Computer Networks</li>
            <li>Database Development and Applications</li>
            <li>Pre-Calculus</li>
            <li>Introductory Calculus</li>
            <li>Statistics I</li>
            <li>Statistics II</li>
            <li>Discrete Mathematics</li>
            <li>Algebra</li>
            <li>Industrial Training</li>
          </ul>
          <strong>Elective 1 (Choose 1):</strong>
          <ul class="bullets" style="margin: 10px;">
            <li>Accounting Methods I</li>
            <li>Introduction to Data Science</li>
            <li>Computer Game Studies</li>
            <li>Software Engineering</li>
          </ul>
          <strong>Elective 2 (Choose 1):</strong>
          <ul class="bullets" style="margin: 10px;">
            <li>Accounting Methods II</li>
            <li>Introduction to Data Mining</li>
            <li>Computer Game Development</li>
            <li>Software Requirement and Design</li>
          </ul>
          <strong>Elective 3 (Choose 1):</strong>
          <ul class="bullets" style="margin: 10px;">
            <li>Fundamentals of Artificial Intelligence</li>
            <li>Mobile Application Development</li>
            <li>GUI and Web Application Programming</li>
          </ul>
          <strong>Language, Mata Pelajaran Pengajian Umum (MPU) and Co-curricular Courses:</strong>
          <ul class="bullets" style="margin: 10px;">
            <li>English for Tertiary Studies</li>
            <li>Academic English</li>
            <li>Bahasa Kebangsaan A <b>or</b> Public Speaking</li>
            <li>Penghayatan Etika dan Peradaban</li>
            <li>Professional English</li>
            <li>Civic Consciousness and Volunteerism</li>
            <li>Co-curricular</li>
          </ul>
        </div>

        <div id="CareerProspects" class="container animate-opacity detail" style="display: none;">
          <i class="fa fa-briefcase"></i><strong> Career Prospects</strong>
          <ul class="bullets" style="margin:10px;">
            <li>Junior Analyst Programmers</li>
            <li>Junior Systems Analysts</li>
            <li>Junior Software Engineers</li>
            <li>Junior Systems Engineers</li>
            <li>Junior Research Officers</li>
            <li>Junior Quantitative Analysts</li>
            <li>Junior Software Developers</li>
          </ul>
        </div>

        <div id="FeesFinancialAids" class="container animate-opacity detail" style="display: none;">
          <strong>Fees & Financial Aids</strong>
          <ul class="bullets">
            <li>Estimated Total Fees: RM 17,600 (Malaysian Student), RM33,300 (International Student)</li>
            <li>The estimated total fees may vary by 10%</li>
            <li>For more information on Fees, <a href="https://www.tarc.edu.my/bursary/content.jsp?cat_id=5AA0377F-4E7F-494A-8EB4-CEF5CE4DD7AE" target="_blank"><b>click here</b></a>.</li>
          </ul>

          <p><b>Merit Scholarship</b></p>
          <p>To find out more, <a class="hovering" href="https://www.tarc.edu.my/admissions/contentsub.jsp?cat_id=58F1E9DB-53BF-4657-8DD6-80056FEAF89F&fmenuid=" target="_blank"><b>click here</b></a>.</p>

          <p><b>Other Scholarship</b></p>
          <p>To find out more, <a class="hovering" href="https://www.tarc.edu.my/dsa/financial-aid/scholarships-grants/" target="_blank"><b>click here</b></a>.</p>

          <p><b>Financial Aid</b></p>
          <ul class="bullets">
            <li>For PTPTN, <a href="https://www.tarc.edu.my/dsa/financial-aid/ptptn/" target="_blank"><b>click here</b></a></li>
            <li>For Study Loan, <a href="https://www.tarc.edu.my/dsa/financial-aid/study-loans/" target="_blank"><b>click here</b></a></li>
            <li>For more information on Financial Aid, <a href="https://www.tarc.edu.my/dsa/financial-aid/financial-aid/" target="_blank"><b>click here</b></a></li>
          </ul>
        </div>
      </div>

      <div style="width: 100%; padding: 50px 0; text-align: center; background-image: url('https://www.tarc.edu.my/files/focs/background/C8D273C9-6BB6-4977-953F-44EEBFDEB2C5.jpg'); background-size: cover;">
        <h3 style="color: white;"></h3>
        <a class="btn" style="margin: 5px;" href="https://www.tarc.edu.my/admissions/a/intake-in-progress/" bis_skin_checked="1">Enroll Now</a>
      </div>
    </section>
  </div>

  <div id="hello-msg-container" class="position-fixed" style="bottom: 16px; right: 16px">
    <div id="hello-msg" style="transition: opacity 0.1s; opacity: 0; display: none">
      <!-- Hello message -->
      <div class="position-absolute end-0 bg-dark rounded text-white z-1 shadow" style="width: 256px; bottom: 80px">
        <i class="bi bi-robot fs-2 mx-2 align-middle"></i>
        <span>Hello, how can I help you ?</span>

        <i
          class="position-absolute bi bi-x text-danger fs-5 end-0 top-0 fw-bold"
          onclick="hideHelloMessage()"
          style="cursor: pointer"
        >
        </i>
      </div>

      <!-- Arrow -->
      <div
        class="position-absolute bg-dark z-0"
        style="width: 16px; height: 16px; bottom: 72px; right: 24px; transform: rotate(45deg)"
      ></div>
    </div>

    <!-- Chat room -->
    <div id="chat-room" style="transition: opacity 0.5s; opacity: 0; display: none">
      <div
        class="position-absolute end-0 bg-dark rounded text-white z-1 shadow"
        style="width: 512px; height: 512px; bottom: 80px"
      >
        <!-- Chat messages -->
        <ol id="chat-msgs" class="px-1 mb-0 overflow-auto" style="list-style-type: none; height: 442px">
          <li class="overflow-auto">
            <i class="bi bi-robot fs-2 mx-2 float-start"></i>
            <span class="float-start" style="margin-top: 12px">Hello, how can I help you ?</span>
          </li>
        </ol>

        <form id="q-form">
          <!-- Text box to send text to chatbot -->
          <input
            id="q"
            class="form-control position-absolute"
            name="q"
            placeholder="I want to ask something..."
            style="left: 16px; bottom: 16px; width: 408px"
          />

          <!-- Send button -->
          <button
            class="position-absolute btn btn-info rounded bg-info text-dark pt-2"
            style="bottom: 16px; right: 16px; height: 38px"
            type="submit"
          >
            <i class="bi bi-send fs-6"></i>
          </button>
        </form>
      </div>

      <div
        class="position-absolute bg-dark z-0"
        style="width: 16px; height: 16px; bottom: 72px; right: 24px; transform: rotate(45deg)"
      ></div>
    </div>

    <!-- Chat button -->
    <button
      type="button"
      class="position-absolute btn btn-dark rounded-circle ps-3 bottom-0 end-0 shadow"
      style="width: 64px"
      onclick="toggleChatRoom()"
    >
      <i class="fs-2 bi bi-chat-dots"></i>
    </button>
  </div>
</body>
</html>

<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function openTab(evt, name) {
    var i, x, tablinks;
    x = document.getElementsByClassName("detail");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" dark-grey", "");
    }
    document.getElementById(name).style.display = "block";
    evt.currentTarget.className += " dark-grey";
  }

  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    x[slideIndex-1].style.display = "block";
  }

  // Blinking to catch the user attention that there is a help chatbot
  const helloMsgOpacities = [1, 0, 1]
  let index = 0
  setTimeout(() => {
    const timer = setInterval(() => {
      const helloMsg = document.getElementById('hello-msg')
      helloMsg.style.display = 'block'
      helloMsg.style.opacity = helloMsgOpacities[index]
      ++index
      if (index == helloMsgOpacities.length) clearInterval(timer)
    }, 100)
  }, 1000)

  function hideHelloMessage() {
    const helloMsg = document.getElementById('hello-msg')
    helloMsg.style.opacity = 0

    setTimeout(() => {
      helloMsg.style.display = 'none'
    }, 100)
  }

  function toggleChatRoom() {
    hideHelloMessage()

    const chatRoom = document.getElementById('chat-room')
    chatRoom.style.opacity = 1 - chatRoom.style.opacity

    if (chatRoom.style.opacity == 0) {
      setTimeout(() => {
        chatRoom.style.display = 'none'
      }, 500)
    } else {
      chatRoom.style.display = 'block'
    }
  }

  document.getElementById('q-form').addEventListener('submit', async event => {
    // Dont refresh the page
    event.preventDefault()

    // Input
    const q = document.getElementById('q').value

    // Display user query
    const userMsg = document.createElement('li')
    userMsg.className = 'overflow-auto'
    userMsg.innerHTML = `
      <i class="bi bi-person-circle fs-2 mx-2 float-end"></i>
      <span class="float-end" style="margin-top: 12px">${q}</span>
    `
    document.getElementById('chat-msgs').appendChild(userMsg)

    // Clear user input
    document.getElementById('q').value = ''

    // Tell something to the chatbot
    const resp = await fetch('/faq_ans?' + new URLSearchParams({ q }))

    // Display chatbot response
    const botMsg = document.createElement('li')
    botMsg.className = 'overflow-auto'
    botMsg.innerHTML = `
      <i class="bi bi-robot fs-2 mx-2 float-start"></i>
      <span class="float-start" style="margin-top: 12px">${(await resp.json()).result}</span>
    `
    document.getElementById('chat-msgs').appendChild(botMsg)
  })

  document.body.addEventListener('click', event => {
    // Clicking outside the chat room will close the chat room
    if (!document.getElementById('hello-msg-container').contains(event.target)) {
      const chatRoom = document.getElementById('chat-room')
      chatRoom.style.opacity = 0

      setTimeout(() => {
        chatRoom.style.display = 'none'
      }, 500)
    }
  })
</script>
