<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Diploma in Information Technology | FOCS</title>
  <link rel="icon" type="image/png" href="/static/favicon.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/plStyle.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}">
</head>
<body translate="no">
  <div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>
  <div class="container">
    <!-- Navigation bar -->
    <nav class="main-nav">
      <img class="logo" src="/static/logo.png" alt="Tunku Abdul Rahman University of Management and Technology" />

      <ul class="main-menu">
        <li>
          <a href="#">Home</a>
        </li>

        <li>
          <a href="#">About Us</a>
        </li>

        <li>
          <a href="#">Facilities</a>
        </li>

        <li>
          <a href="#">Research</a>
        </li>

        <li>
          <a href="#">External Advisors</a>
        </li>

        <li>
          <a href="#">Our Team</a>
        </li>
      </ul>

      <ul class="right-menu">
        <li>
          <a href="#">
            <i class="fas fa-search"></i>
          </a>
        </li>
      </ul>
    </nav>

    <header class="animate-top">
      <h1>Diploma in Information Technology</h3>
    </header>

    <ol class="breadcrumb">
      <li><a href="/programmes">Programmes</a></li>
      <li>Diploma in Information Technology</li>
    </ol>

    <section>
      <!-- Images -->
      <div class="content section">
        <img src="/static/pImages/DFT_1.jpg" style="width:50%">
        <img src="/static/pImages/DFT_2.jpg" style="width:50%">
      </div>

      <div class="card panel">
        <!-- Tab Menu -->
        <div class="bar border-bottom light-grey" style="margin-bottom: 10px;">
          <a class="bar-item button tablink dark-grey" onclick="openTab(event, 'ProgrammeOverview')">Programme Overview</a>
          <a class="bar-item button tablink" onclick="openTab(event, 'MinimumEntryRequirements')">Minimum Entry Requirements</a>
          <a class="bar-item button tablink" onclick="openTab(event, 'ProgrammeOutline')">Programme Outline</a>
          <a class="bar-item button tablink" onclick="openTab(event, 'CareerProspects')">Career Prospects</a>
          <a class="bar-item button tablink" onclick="openTab(event, 'FeesFinancialAids')">Fees & Financial Aids</a>
        </div>

        <!-- Start of tab contents -->
        <div id="ProgrammeOverview" class="container animate-opacity detail" style="display: block;">
          <i class="fa fa-book"></i><strong> Programme Overview</strong>
          <p align="justify">This programme provides students with a basic understanding of computing techniques and aims to develop the computing and information technology-based knowledge and skills required in modern industrial, commercial and service organisations. It will equip students with essential knowledge of the underlying principles of modern computing technology and enable students to appreciate how modern computers are applied to a range of real world problems. Students will learn C Language, Java, Assembly Language, Oracle Database, HTML5, CSS, PHP and JavaScript. Upon completion, graduates will have acquired knowledge and developed skills in the areas of computer programming, systems analysis, operating systems, computer networking, computer applications and object-oriented software development, as well as in generic business courses.</p>

          <i class="fa fa-calendar-check-o"></i><strong> Intake</strong>
          <p>June</p>

          <i class="fa fa-clock-o"></i><strong> Duration</strong>
          <p>2 years</p>

          <i class="fa fa-building"></i><strong> Campus</strong>
          <ul class="bullets">
            <li>KL Main Campus</li>
            <li>Penang Branch Campus</li>
            <li>Perak Branch Campus</li>
            <li>Johor Branch Campus</li>
            <li>Pahang Branch</li>
            <li>Sabah Branch</li>
          </ul>

          <i class="fa fa-arrow-circle-up"></i><strong> Academic Progression:</strong>
          <p>Graduates may be admitted into Year 2 of:</p>
          <ul class="bullets">
            <li><a href="/programmes/rsd">Bachelor of Information Technology (Honours) in Software Systems Development</a></li>
            <li><a href="/programmes/ris">Bachelor of Information Technology (Honours) in Information Security</a></li>
            <li><a href="/programmes/rit">Bachelor of Information Technology (Honours) in Internet Technology</a></li>
          </ul>
          <div class="image-container">
            <img src="/static/pImages/academic_progression.jpg" alt="Academic Progression"/>
          </div>
        </div>

        <div id="MinimumEntryRequirements" class="container animate-opacity detail" style="display: none;">
          <i class="fa fa-list"></i><strong> Minimum Entry Requirements</strong>
          <div class="image-container">
            <a href="/static/pImages/diploma_requirements.jpg" target="_blank">
              <img src="/static/pImages/diploma_requirements.jpg" caption="false">
            </a>
          </div>
        </div>

        <div id="ProgrammeOutline" class="container animate-opacity detail" style="display: none;">
          <i class="fa fa-book"></i><strong> Programme Outline</strong>
          <ul class="bullets" style="margin: 10px;">
            <li>Introduction to Information Technology</li>
            <li>Programming Concepts and Design I</li>
            <li>Programming Concepts and Design II</li>
            <li>Principles of Information Systems</li>
            <li>Web Design and Development</li>
            <li>Systems Analysis and Design</li>
            <li>Object-Oriented Programming Techniques</li>
            <li>Operating Systems</li>
            <li>Computer Systems Architecture</li>
            <li>Fundamentals of Computer Networks</li>
            <li>Database Development and Applications</li>
            <li>Web Systems and Technologies</li>
            <li>GUI and Web Application Programming</li>
            <li>Introduction to Cybersecurity</li>
            <li>Calculus and Algebra</li>
            <li>Probability and Statistics</li>
            <li>Discrete Mathematics</li>
            <li>Industrial Training (10 weeks)</li>
          </ul>
          <strong>Elective 1 (Choose 1):</strong>
          <ul class="bullets" style="margin: 10px;">
            <li>Introduction to Business</li>
            <li>Mobile Commerce and Marketing</li>
          </ul>
          <strong>Elective 2 (Choose 1):</strong>
          <ul class="bullets" style="margin: 10px;">
            <li>Introduction to Marketing</li>
            <li>Introduction to Data Science</li>
          </ul>
          <strong>Elective 3 (Choose 1):</strong>
          <ul class="bullets" style="margin: 10px;">
            <li>Business Organisation and Management</li>
            <li>Cloud Computing for Business</li>
          </ul>
          <strong>Language, Mata Pelajaran Pengajian Umum (MPU) and Co-curricular Courses:</strong>
          <ul class="bullets" style="margin: 10px;">
            <li>English for Tertiary Studies</li>
            <li>Academic English</li>
            <li>Bahasa Kebangsaan A</li>
            <li>Penghayatan Etika dan Peradaban</li>
            <li>Public Speaking</li>
            <li>Professional English</li>
            <li>Civic Consciousness and Volunteerism</li>
            <li>Co-curricular</li>
          </ul>
        </div>

        <div id="CareerProspects" class="container animate-opacity detail" style="display: none;">
          <i class="fa fa-briefcase"></i><strong> Career Prospects</strong>
          <ul class="bullets" style="margin:10px;">
            <li>Junior Programmers</li>
            <li>Junior Systems Analysts</li>
            <li>Junior Network Support Officers</li>
            <li>Junior IT Support Executives</li>
            <li>Junior IT Executives</li>
            <li>Web Developer</li>
          </ul>
        </div>

        <div id="FeesFinancialAids" class="container animate-opacity detail" style="display: none;">
          <strong>Fees & Financial Aids</strong>
          <ul class="bullets">
            <li>Estimated Total Fees: RM 17,800 (Malaysian Student), RM33,600 (International Student)</li>
            <li>The estimated total fees may vary by 10%</li>
            <li>For more information on Fees, <a href="https://www.tarc.edu.my/bursary/content.jsp?cat_id=5AA0377F-4E7F-494A-8EB4-CEF5CE4DD7AE" target="_blank"><b>click here</b></a>.</li>
          </ul>

          <p><b>Merit Scholarship</b></p>
          <p>To find out more, <a class="hovering" href="https://www.tarc.edu.my/admissions/contentsub.jsp?cat_id=58F1E9DB-53BF-4657-8DD6-80056FEAF89F&fmenuid=" target="_blank"><b>click here</b></a>.</p>

          <p><b>Other Scholarship</b></p>
          <p>To find out more, <a class="hovering" href="https://www.tarc.edu.my/dsa/financial-aid/scholarships-grants/" target="_blank"><b>click here</b></a>.</p>

          <p><b>Financial Aid</b></p>
          <ul class="bullets">
            <li>For PTPTN, <a href="https://www.tarc.edu.my/dsa/financial-aid/ptptn/" target="_blank"><b>click here</b></a></li>
            <li>For Study Loan, <a href="https://www.tarc.edu.my/dsa/financial-aid/study-loans/" target="_blank"><b>click here</b></a></li>
            <li>For more information on Financial Aid, <a href="https://www.tarc.edu.my/dsa/financial-aid/financial-aid/" target="_blank"><b>click here</b></a></li>
          </ul>
        </div>
      </div>

      <div style="width: 100%; padding: 50px 0; text-align: center; background-image: url('https://www.tarc.edu.my/files/focs/background/C8D273C9-6BB6-4977-953F-44EEBFDEB2C5.jpg'); background-size: cover;">
        <h3 style="color: white;"></h3>
        <a class="btn" style="margin: 5px;" href="https://www.tarc.edu.my/admissions/a/intake-in-progress/" bis_skin_checked="1">Enroll Now</a>
      </div>
    </section>
  </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function openTab(evt, name) {
    var i, x, tablinks;
    x = document.getElementsByClassName("detail");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" dark-grey", "");
    }
    document.getElementById(name).style.display = "block";
    evt.currentTarget.className += " dark-grey";
  }

  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    x[slideIndex-1].style.display = "block";
  }
</script>

