<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Doctor of Philosophy (Computer Science) | FOCS</title>
  <link rel="icon" type="image/png" href="/static/favicon.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/plStyle.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}">
</head>
<body translate="no">
  <div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>
  <div class="container">
    <!-- Navigation bar -->
    <nav class="main-nav">
      <img class="logo" src="/static/logo.png" alt="Tunku Abdul Rahman University of Management and Technology" />

      <ul class="main-menu">
        <li>
          <a href="#">Home</a>
        </li>

        <li>
          <a href="#">About Us</a>
        </li>

        <li>
          <a href="#">Facilities</a>
        </li>

        <li>
          <a href="#">Research</a>
        </li>

        <li>
          <a href="#">External Advisors</a>
        </li>

        <li>
          <a href="#">Our Team</a>
        </li>
      </ul>

      <ul class="right-menu">
        <li>
          <a href="#">
            <i class="fas fa-search"></i>
          </a>
        </li>
      </ul>
    </nav>

    <header class="animate-top">
      <h1>Doctor of Philosophy (Computer Science)</h3>
    </header>

    <section>
      <div class="card panel">
        <!-- Tab Menu -->
        <div id="tabs" class="tabs-custom tabs-corporate tabs-horizontal" style="margin: 10px;">
          <ul class="nav nav-tabs" style="margin: 0;">
            <li class="selected"><a href="#tab-1" data-toggle="tab">Programme Overview</a></li>
            <li><a href="#tab-2" data-toggle="tab">Programme Outline</a></li>
            <li><a href="#tab-3" data-toggle="tab">Career Prospects</a></li>
            <li><a href="#tab-4" data-toggle="tab">Minimum Entry Requirements</a></li>
          </ul>

          <!-- Start of tab contents -->
          <div class="tab-content">
            <div id="tab-1" class="tab-pane fade active in">
              <h5><i class="fa fa-book gold-orange"></i><strong>Programme Overview:</strong></h5>
              <p align="justify">The offering of the Doctor of Philosophy (Computer Science) by TAR UMT is timely to produce professionals equipped with innovative knowledge, research skills, high order thinking skills and needed soft skills in the computer science areas, such as artificial intelligence, big data analytics and Industry 4.0, in the hope of producing new knowledge or technology. It equips graduates with managerial, entrepreneurial and life-long learning skills that will prepare them for both employment and self-employment.</p>

              <i class="fa fa-arrow-circle-up dark-blue"></i><strong>Intake:</strong>
              <p>Rolling Intake (throughout the year)</p>

              <i class="fa fa-arrow-circle-up dark-blue"></i><strong>Duration:</strong>
              <ul>
                <li>Full time (Malaysian & International students) - 3 years</li>
                <li>Part time (Malaysian students ONLY) - 4 years</li>
              </ul>

              <i class="fa fa-arrow-circle-up dark-blue"></i><strong>Campus:</strong>
              <p>Main Campus</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
</html>
