<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Bachelor of Science (Honours) in Management Mathematics with Computing | FOCS</title>
  <link rel="icon" type="image/png" href="/static/favicon.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/plStyle.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}">
</head>
<body translate="no">
  <div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>
  <div class="container">
    <!-- Navigation bar -->
    <nav class="main-nav">
      <img class="logo" src="/static/logo.png" alt="Tunku Abdul Rahman University of Management and Technology" />

      <ul class="main-menu">
        <li>
          <a href="#">Home</a>
        </li>

        <li>
          <a href="#">About Us</a>
        </li>

        <li>
          <a href="#">Facilities</a>
        </li>

        <li>
          <a href="#">Research</a>
        </li>

        <li>
          <a href="#">External Advisors</a>
        </li>

        <li>
          <a href="#">Our Team</a>
        </li>
      </ul>

      <ul class="right-menu">
        <li>
          <a href="#">
            <i class="fas fa-search"></i>
          </a>
        </li>
      </ul>
    </nav>

    <header class="animate-top">
      <h1>Bachelor of Science (Honours) in Management Mathematics with Computing</h3>
    </header>

    <ol class="breadcrumb">
      <li><a href="/programmes">Programmes</a></li>
      <li>Bachelor of Science (Honours) in Management Mathematics with Computing</li>
    </ol>

    <section>
      <!-- Images -->
      <div class="content section">
        <img src="/static/pImages/RMM_1.jpg" style="width:50%">
        <img src="/static/pImages/RMM_2.jpg" style="width:50%">
      </div>

      <div class="card panel">
        <!-- Tab Menu -->
        <div class="bar border-bottom light-grey" style="margin-bottom: 10px;">
          <a class="bar-item button tablink dark-grey" onclick="openTab(event, 'ProgrammeOverview')">Programme Overview</a>
          <a class="bar-item button tablink" onclick="openTab(event, 'MinimumEntryRequirements')">Minimum Entry Requirements</a>
          <a class="bar-item button tablink" onclick="openTab(event, 'ProgrammeOutline')">Programme Outline</a>
          <a class="bar-item button tablink" onclick="openTab(event, 'CareerProspects')">Career Prospects</a>
          <a class="bar-item button tablink" onclick="openTab(event, 'FeesFinancialAids')">Fees & Financial Aids</a>
        </div>

        <!-- Start of tab contents -->
        <div id="ProgrammeOverview" class="container animate-opacity detail" style="display: block;">
          <i class="fa fa-book"></i><strong> Programme Overview</strong>
          <p align="justify">This programme is a multi-disciplinary blend with Management Mathematics as the major, Computing as the minor and Economics or Accounting Methods as the associate study. Management Mathematics covers mathematical techniques, including resource allocation and planning, optimisation, project management, quantitative decision, applied statistics, quality control and financial mathematics. Computing courses prepare students for software design and development including skills on programming and information management.</p>

          <p align="justify">This programme also prepares graduates to branch into other disciplines for further academic pursuit such as master in business management, statistics, and information technology.</p>

          <p align="justify">It also lays the foundation for graduates to achieve further professional qualifications in actuary, financial planning, financial analysis and risk management.</p>

          <i class="fa fa-calendar-check-o"></i><strong> Intake</strong>
          <ul class="bullets">
            <li>Year 1 Intake: June</li>
            <li>Year 2 Intake: June</li>
          </ul>

          <i class="fa fa-clock-o"></i><strong> Duration</strong>
          <p>3 years</p>

          <i class="fa fa-building"></i><strong> Campus</strong>
          <ul class="bullets">
            <li>KL Main Campus</li>
          </ul>

          <i class="fa fa-arrow-circle-up"></i><strong> Academic Progression:</strong>
          <div class="image-container">
            <img src="/static/pImages/academic_progression.jpg" alt="Academic Progression"/>
          </div>
        </div>

        <div id="MinimumEntryRequirements" class="container animate-opacity detail" style="display: none;">
          <i class="fa fa-list"></i><strong> Minimum Entry Requirements</strong>
          <div class="image-container">
            <a href="/static/pImages/degree_requirements.png" target="_blank">
              <img src="/static/pImages/degree_requirements.png" caption="false">
            </a>
          </div>
        </div>

        <div id="ProgrammeOutline" class="container animate-opacity detail" style="display: none;">
          <i class="fa fa-book"></i><strong> Programme Outline</strong>
          <ul class="bullets" style="margin: 10px;">
            <li>Discrete Mathematics</li>
            <li>Calculus I</li>
            <li>Calculus II</li>
            <li>Algebra</li>
            <li>Probability and Statistics</li>
            <li>Linear Algebra</li>
            <li>Advanced Calculus</li>
            <li>Numerical Methods</li>
            <li>Mathematical and Statistical Software</li>
            <li>Problem Solving and Programming</li>
            <li>Database Management</li>
            <li>Computer Organisation and Architecture</li>
            <li>Object-Oriented Programming</li>
            <li>Operating Systems</li>
            <li>IT Fundamentals</li>
            <li>Visual Programming</li>
            <li>Industrial Training</li>
            <li>Project</li>
            <li>Mathematical Statistics</li>
            <li>Applied Statistics</li>
            <li>Operations Research I</li>
            <li>Operations Research II</li>
            <li>Financial Mathematics</li>
            <li>Quality Control</li>
            <li>Contemporary Malaysian Issues</li>
          </ul>
          <strong>Elective 1A and 1B (Choose 2):</strong>
          <ul class="bullets" style="margin: 10px;">
            <li>Microeconomics</li>
            <li>Macroeconomics</li>
            <li>Accounting Methods I</li>
            <li>Accounting Methods II</li>
          </ul>
          <strong>Elective (Mathematics) (Choose 1):</strong>
          <ul class="bullets" style="margin: 10px;">
            <li>Further Applied Statistics</li>
            <li>Cryptography</li>
            <li>Advanced Financial Mathematics</li>
          </ul>
          <strong>Elective (ICT)(Choose 1):</strong>
          <ul class="bullets" style="margin: 10px;">
            <li>Machine Learning</li>
            <li>Cloud Computing</li>
            <li>Business Intelligence</li>
            <li>Data Science</li>
          </ul>
          <strong>Language, Mata Pelajaran Pengajian Umum (MPU) and Co-curricular Courses:</strong>
          <ul class="bullets" style="margin: 10px;">
            <li>English for Tertiary Studies</li>
            <li>Falsafah dan Isu Semasa</li>
            <li>Academic English</li>
            <li>Penghayatan Etika dan Peradaban</li>
            <li>English for Career Preparation</li>
            <li>Entrepreneurship <b>or</b> Bahasa Kebangsaan A</li>
            <li>Contemporary Malaysian Issues</li>
            <li>Co-curricular</li>
          </ul>
        </div>

        <div id="CareerProspects" class="container animate-opacity detail" style="display: none;">
          <i class="fa fa-briefcase"></i><strong> Career Prospects</strong>
          <ul class="bullets" style="margin:10px;">
            <li>Officers in financial institutions such as banks, insurance firms, and investment houses</li>
            <li>Quantitative Analysts</li>
            <li>Quality Managers</li>
            <li>Research Officers</li>
            <li>Investment Analysts</li>
            <li>Financial Analysts</li>
            <li>Management Consultants</li>
            <li>Financial Planners and Advisors</li>
            <li>Pricing Analysts</li>
            <li>Market Risk Managers</li>
            <li>Credit Risk Managers</li>
            <li>Asset/Liability Managers</li>
            <li>IT Managers</li>
            <li>Programmers</li>
          </ul>
        </div>

        <div id="FeesFinancialAids" class="container animate-opacity detail" style="display: none;">
          <strong>Fees & Financial Aids</strong>
          <ul class="bullets">
            <li>Estimated Total Fees: RM 34,100 (Malaysian Student), RM59,500 (International Student)</li>
            <li>The estimated total fees may vary by 10%</li>
            <li>For more information on Fees, <a href="https://www.tarc.edu.my/bursary/content.jsp?cat_id=5AA0377F-4E7F-494A-8EB4-CEF5CE4DD7AE" target="_blank"><b>click here</b></a>.</li>
          </ul>

          <p><b>Merit Scholarship</b></p>
          <p>To find out more, <a class="hovering" href="https://www.tarc.edu.my/admissions/contentsub.jsp?cat_id=58F1E9DB-53BF-4657-8DD6-80056FEAF89F&fmenuid=" target="_blank"><b>click here</b></a>.</p>

          <p><b>Other Scholarship</b></p>
          <p>To find out more, <a class="hovering" href="https://www.tarc.edu.my/dsa/financial-aid/scholarships-grants/" target="_blank"><b>click here</b></a>.</p>

          <p><b>Financial Aid</b></p>
          <ul class="bullets">
            <li>For PTPTN, <a href="https://www.tarc.edu.my/dsa/financial-aid/ptptn/" target="_blank"><b>click here</b></a></li>
            <li>For Study Loan, <a href="https://www.tarc.edu.my/dsa/financial-aid/study-loans/" target="_blank"><b>click here</b></a></li>
            <li>For more information on Financial Aid, <a href="https://www.tarc.edu.my/dsa/financial-aid/financial-aid/" target="_blank"><b>click here</b></a></li>
          </ul>
        </div>
      </div>

      <div style="width: 100%; padding: 50px 0; text-align: center; background-image: url('https://www.tarc.edu.my/files/focs/background/C8D273C9-6BB6-4977-953F-44EEBFDEB2C5.jpg'); background-size: cover;">
        <h3 style="color: white;"></h3>
        <a class="btn" style="margin: 5px;" href="https://www.tarc.edu.my/admissions/a/intake-in-progress/" bis_skin_checked="1">Enroll Now</a>
      </div>
    </section>
  </div>

  <div id="hello-msg-container" class="position-fixed" style="bottom: 16px; right: 16px">
    <div id="hello-msg" style="transition: opacity 0.1s; opacity: 0">
      <!-- Hello message -->
      <div class="position-absolute end-0 bg-dark rounded text-white z-1 shadow" style="width: 256px; bottom: 80px">
        <i class="bi bi-robot fs-2 mx-2 align-middle"></i>
        <span>Hello, how can I help you ?</span>

        <i
          class="position-absolute bi bi-x text-danger fs-5 end-0 top-0 fw-bold"
          onclick="hideHelloMessage()"
          style="cursor: pointer"
        >
        </i>
      </div>

      <!-- Arrow -->
      <div
        class="position-absolute bg-dark z-0"
        style="width: 16px; height: 16px; bottom: 72px; right: 24px; transform: rotate(45deg)"
      ></div>
    </div>

    <!-- Chat room -->
    <div id="chat-room" style="transition: opacity 0.5s; opacity: 0">
      <div
        class="position-absolute end-0 bg-dark rounded text-white z-1 shadow"
        style="width: 512px; height: 512px; bottom: 80px"
      >
        <!-- Chat messages -->
        <ol id="chat-msgs" class="px-1 mb-0 overflow-auto" style="list-style-type: none; height: 442px">
          <li class="overflow-auto">
            <i class="bi bi-robot fs-2 mx-2 float-start"></i>
            <span class="float-start" style="margin-top: 12px">Hello, how can I help you ?</span>
          </li>
        </ol>

        <form id="q-form">
          <!-- Text box to send text to chatbot -->
          <input
            id="q"
            class="form-control position-absolute"
            name="q"
            placeholder="I want to ask something..."
            style="left: 16px; bottom: 16px; width: 408px"
          />

          <!-- Send button -->
          <button
            class="position-absolute btn btn-info rounded bg-info text-dark pt-2"
            style="bottom: 16px; right: 16px; height: 38px"
            type="submit"
          >
            <i class="bi bi-send fs-6"></i>
          </button>
        </form>
      </div>

      <div
        class="position-absolute bg-dark z-0"
        style="width: 16px; height: 16px; bottom: 72px; right: 24px; transform: rotate(45deg)"
      ></div>
    </div>

    <!-- Chat button -->
    <button
      type="button"
      class="position-absolute btn btn-dark rounded-circle ps-3 bottom-0 end-0 shadow"
      style="width: 64px"
      onclick="toggleChatRoom()"
    >
      <i class="fs-2 bi bi-chat-dots"></i>
    </button>
  </div>
</body>
</html>

<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function openTab(evt, name) {
    var i, x, tablinks;
    x = document.getElementsByClassName("detail");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" dark-grey", "");
    }
    document.getElementById(name).style.display = "block";
    evt.currentTarget.className += " dark-grey";
  }

  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    x[slideIndex-1].style.display = "block";
  }

  // Blinking to catch the user attention that there is a help chatbot
  const helloMsgOpacities = [1, 0, 1]
  let index = 0
  setTimeout(() => {
    const timer = setInterval(() => {
      document.getElementById('hello-msg').style.opacity = helloMsgOpacities[index]
      ++index
      if (index == helloMsgOpacities.length) clearInterval(timer)
    }, 100)
  }, 1000)

  function hideHelloMessage() {
    document.getElementById('hello-msg').style.opacity = 0
  }

  function toggleChatRoom() {
    hideHelloMessage()

    const chatRoom = document.getElementById('chat-room')
    chatRoom.style.opacity = 1 - chatRoom.style.opacity
  }

  document.getElementById('q-form').addEventListener('submit', async event => {
    // Dont refresh the page
    event.preventDefault()

    // Input
    const q = document.getElementById('q').value

    // Display user query
    const userMsg = document.createElement('li')
    userMsg.className = 'overflow-auto'
    userMsg.innerHTML = `
      <i class="bi bi-person-circle fs-2 mx-2 float-end"></i>
      <span class="float-end" style="margin-top: 12px">${q}</span>
    `
    document.getElementById('chat-msgs').appendChild(userMsg)

    // Clear user input
    document.getElementById('q').value = ''

    // Tell something to the chatbot
    const resp = await fetch('/faq_ans?' + new URLSearchParams({ q }))

    // Display chatbot response
    const botMsg = document.createElement('li')
    botMsg.className = 'overflow-auto'
    botMsg.innerHTML = `
      <i class="bi bi-robot fs-2 mx-2 float-start"></i>
      <span class="float-start" style="margin-top: 12px">${(await resp.json()).result}</span>
    `
    document.getElementById('chat-msgs').appendChild(botMsg)
  })

  document.body.addEventListener('click', event => {
    // Clicking outside the chat room will close the chat room
    if (!document.getElementById('hello-msg-container').contains(event.target)) {
      document.getElementById('chat-room').style.opacity = 0
    }
  })
</script>

