<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>
      Tunku Abdul Rahman University of Management &amp; Technology - Faculty of Computing and Information Technology
    </title>

    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- TODO: Copy this to other pages -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}" />
  </head>

  <body translate="no">
    <div class="menu-btn">
      <i class="fas fa-bars fa-2x"></i>
    </div>

    <div class="container">
      <!-- Nav -->
      <nav class="main-nav">
        <img class="logo" src="/static/logo.png" alt="Tunku Abdul Rahman University of Management and Technology" />

        <ul class="main-menu">
          <li>
            <a href="#">Home</a>
          </li>

          <li>
            <a href="#">About Us</a>
          </li>

          <li>
            <a href="#">Facilities</a>
          </li>

          <li>
            <a href="#">Research</a>
          </li>

          <li>
            <a href="#">External Advisors</a>
          </li>

          <li>
            <a href="#">Our Team</a>
          </li>
        </ul>

        <ul class="right-menu">
          <li>
            <a href="#">
              <i class="fas fa-search"></i>
            </a>
          </li>
        </ul>
      </nav>

      <!-- Showcase -->
      <header class="mb-4">
        <div id="carouselExampleIndicators" class="carousel slide bg-dark">
          <!-- TODO: Copy z-0 to other pages -->
          <div class="carousel-indicators z-0">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="4"
              aria-label="Slide 5"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="5"
              aria-label="Slide 6"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="6"
              aria-label="Slide 7"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active position-relative" style="height: 320px">
              <div
                class="w-100 position-absolute"
                style="
                  background-image: url('/static/focs_0.png');
                  background-position: center;
                  height: 320px;
                  background-size: contain;
                  background-repeat: no-repeat;
                "
              ></div>
              <div
                class="position-absolute top-50 start-50 translate-middle text-white text-center px-3 py-3"
                style="width: 640px; background-color: rgba(0, 0, 0, 0.25)"
              >
                <h3>Welcome to Faculty of Computing and Information Technology (FOCS)</h3>
                <span>Select MORE INFO to watch Faculty Video</span>
              </div>
            </div>
            <div class="carousel-item position-relative" style="height: 320px">
              <div
                class="w-100 position-absolute"
                style="
                  background-image: url('/static/focs_1.jpg');
                  background-position: center;
                  height: 320px;
                  background-size: contain;
                  background-repeat: no-repeat;
                "
              ></div>
              <div class="position-absolute"></div>
            </div>
            <div class="carousel-item position-relative" style="height: 320px">
              <div
                class="w-100 position-absolute"
                style="
                  background-image: url('/static/focs_2.jpg');
                  background-position: center;
                  height: 320px;
                  background-size: contain;
                  background-repeat: no-repeat;
                "
              ></div>
              <div class="position-absolute"></div>
            </div>
            <div class="carousel-item position-relative" style="height: 320px">
              <div
                class="w-100 position-absolute"
                style="
                  background-image: url('/static/focs_3.jpg');
                  background-position: center;
                  height: 320px;
                  background-size: contain;
                  background-repeat: no-repeat;
                "
              ></div>
              <div class="position-absolute"></div>
            </div>
            <div class="carousel-item position-relative" style="height: 320px">
              <div
                class="w-100 position-absolute"
                style="
                  background-image: url('/static/focs_4.jpg');
                  background-position: center;
                  height: 320px;
                  background-size: contain;
                  background-repeat: no-repeat;
                "
              ></div>
              <div class="position-absolute"></div>
            </div>
            <div class="carousel-item position-relative" style="height: 320px">
              <div
                class="w-100 position-absolute"
                style="
                  background-image: url('/static/focs_5.jpg');
                  background-position: center;
                  height: 320px;
                  background-size: contain;
                  background-repeat: no-repeat;
                "
              ></div>
              <div class="position-absolute"></div>
            </div>
            <div class="carousel-item position-relative" style="height: 320px">
              <div
                class="w-100 position-absolute"
                style="
                  background-image: url('/static/focs_6.png');
                  background-position: center;
                  height: 320px;
                  background-size: contain;
                  background-repeat: no-repeat;
                "
              ></div>
              <div class="position-absolute"></div>
            </div>
          </div>
          <!-- TODO: Copy z-0 to other pages -->
          <button
            class="carousel-control-prev z-0"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <!-- TODO: Copy z-0 to other pages -->
          <button
            class="carousel-control-next z-0"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </header>

      <!-- Home cards 1 -->
      <section class="home-cards">
        <div>
          <img src="https://i.ibb.co/LZPVKq9/card1.png" alt="" />
          <h3>New Surface Pro 7</h3>
          <p>See how Katie Sowers, Asst. Coach for the 49ers, uses Surface Pro 7 to put her plans into play.</p>
          <a href="#">Learn More <i class="fas fa-chevron-right"></i></a>
        </div>
        <div>
          <img src="https://i.ibb.co/KjGFHVJ/card2.png" alt="" />
          <h3>New Surface Laptop 3</h3>
          <p>
            Express yourself powerfully with a thin, light, and elegant design, faster performance, and up to 11.5 hours
            battery life.
          </p>
          <a href="#">Learn More <i class="fas fa-chevron-right"></i></a>
        </div>
        <div>
          <img src="https://i.ibb.co/2cnshH6/card3.png" alt="" />
          <h3>Save $150 + free controller</h3>
          <p>Buy an Xbox One X console and double your fun with a free select extra controller. Starting at $349.</p>
          <a href="#">Learn More <i class="fas fa-chevron-right"></i></a>
        </div>
        <div>
          <img src="https://i.ibb.co/G57P0Pb/card4.png" alt="" />
          <h3>The new Microsoft Edge</h3>
          <p>Expect more. World class performance, with more privacy, more productivity, and more value.</p>
          <a href="#">Learn More <i class="fas fa-chevron-right"></i></a>
        </div>
      </section>

      <!-- Xbox -->
      <section class="xbox">
        <div class="content">
          <h2>Xbox Game Pass Ultimate</h2>
          <p>
            Xbox Game Pass Ultimate Xbox Live Gold and over 100 high-quality console and PC games. Play together with
            friends and discover your next favorite game.
          </p>
          <a href="#" class="btn"> Join Now <i class="fas fa-chevron-right"></i> </a>
        </div>
      </section>

      <!-- Home cards 2 -->
      <section class="home-cards">
        <div>
          <img src="https://i.ibb.co/zVqhWn2/card5.png" alt="" />
          <h3>Microsoft Teams</h3>
          <p>Unleash the power of your team.</p>
          <a href="#">Shop Now <i class="fas fa-chevron-right"></i></a>
        </div>
        <div>
          <img src="https://i.ibb.co/mGZcxcn/card6.jpg" alt="" />
          <h3>Unlock the power of learning</h3>
          <p>Get students future-ready with Windows 10 devices. Starting at $219.</p>
          <a href="#">Shop Now <i class="fas fa-chevron-right"></i></a>
        </div>
        <div>
          <img src="https://i.ibb.co/NpPvVHj/card7.png" alt="" />
          <h3>Windows 10 Enterprise</h3>
          <p>Download the free 90-day evaluation for IT professionals.</p>
          <a href="#">Download Now <i class="fas fa-chevron-right"></i></a>
        </div>
        <div>
          <img src="https://i.ibb.co/LkP4L5T/card8.png" alt="" />
          <h3>Explore Kubernetes</h3>
          <p>Learn how Kubernetes works and get started with cloud native app development today.</p>
          <a href="#">Get Started <i class="fas fa-chevron-right"></i></a>
        </div>
      </section>

      <!-- Carbon -->
      <section class="carbon dark">
        <div class="content">
          <h2>Commiting To Carbon Negative</h2>
          <p>
            Microsoft will be carbon negative by 2030 and by 2050 we will remove all carbon the company has emitted
            since it was founded in 1975
          </p>
          <a href="#" class="btn"> Learn More <i class="fas fa-chevron-right"></i> </a>
        </div>
      </section>

      <!-- Follow -->
      <section class="follow">
        <p>Follow Microsoft</p>
        <a href="https://facebook.com">
          <img src="https://i.ibb.co/LrVMXNR/social-fb.png" alt="Facebook" />
        </a>
        <a href="https://twitter.com">
          <img src="https://i.ibb.co/vJvbLwm/social-twitter.png" alt="Twitter" />
        </a>
        <a href="https://linkedin.com">
          <img src="https://i.ibb.co/b30HMhR/social-linkedin.png" alt="Linkedin" />
        </a>
      </section>
    </div>
    <!-- Links -->
    <section class="links">
      <div class="links-inner">
        <ul>
          <li><h3>What's New</h3></li>
          <li><a href="#">Surface Pro X</a></li>
          <li><a href="#">Surface Laptop 3</a></li>
          <li><a href="#">Surface Pro 7</a></li>
          <li><a href="#">Windows 10 apps</a></li>
          <li><a href="#">Office apps</a></li>
        </ul>
        <ul>
          <li><h3>Microsoft Store</h3></li>
          <li><a href="#">Account Profile</a></li>
          <li><a href="#">Download Center</a></li>
          <li><a href="#">Microsoft Store support</a></li>
          <li><a href="#">Returns</a></li>
          <li><a href="#">Older tracking</a></li>
        </ul>
        <ul>
          <li><h3>Education</h3></li>
          <li><a href="#">Microsfot in education</a></li>
          <li><a href="#">Office for students</a></li>
          <li><a href="#">Office 365 for schools</a></li>
          <li><a href="#">Deals for studentss</a></li>
          <li><a href="#">Microsfot Azure</a></li>
        </ul>
        <ul>
          <li><h3>Enterprise</h3></li>
          <li><a href="#">Azure</a></li>
          <li><a href="#">AppSource</a></li>
          <li><a href="#">Automotive</a></li>
          <li><a href="#">Government</a></li>
          <li><a href="#">Healthcare</a></li>
        </ul>
        <ul>
          <li><h3>Developer</h3></li>
          <li><a href="#">Visual Studio</a></li>
          <li><a href="#">Windowszs Dev Center</a></li>
          <li><a href="#">Developer Network</a></li>
          <li><a href="#">TechNet</a></li>
          <li><a href="#">Microsoft Developer</a></li>
        </ul>
        <ul>
          <li><h3>Company</h3></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">About Microsoft</a></li>
          <li><a href="#">Company news</a></li>
          <li><a href="#">Privacy at Microsoft</a></li>
          <li><a href="#">Inverstors</a></li>
        </ul>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-inner">
        <div><i class="fas fa-globe fa-2x"></i> English (United States)</div>
        <ul>
          <li><a href="#">Sitemap</a></li>
          <li><a href="#">Contact Microsoft</a></li>
          <li><a href="#">Privacy &amp; cookies</a></li>
          <li><a href="#">Terms of use</a></li>
          <li><a href="#">Trademarks</a></li>
          <li><a href="#">Safety &amp; eco</a></li>
          <li><a href="#">About our ads</a></li>
          <li><a href="#">&amp;copy; Microsoft 2020</a></li>
        </ul>
      </div>
    </footer>

    <!-- TODO: Copy this to other pages -->
    <div class="position-fixed" style="bottom: 16px; right: 16px">
      <div id="hello-msg" style="transition: opacity 0.1s; opacity: 0">
        <!-- Hello message -->
        <div class="position-absolute end-0 bg-dark rounded text-white z-1 shadow" style="width: 256px; bottom: 80px">
          <i class="bi bi-robot fs-2 mx-2 align-middle"></i>
          <span>Hello, how can I help you ?</span>

          <i
            class="position-absolute bi bi-x text-danger fs-5 end-0 top-0 fw-bold"
            onclick="hideHelloMessage()"
            style="cursor: pointer"
          >
          </i>
        </div>

        <!-- Arrow -->
        <div
          class="position-absolute bg-dark z-0"
          style="width: 16px; height: 16px; bottom: 72px; right: 24px; transform: rotate(45deg)"
        ></div>
      </div>

      <!-- Chat room -->
      <div id="chat-room" style="transition: opacity 0.5s; opacity: 0">
        <div
          class="position-absolute end-0 bg-dark rounded text-white z-1 shadow"
          style="width: 512px; height: 512px; bottom: 80px"
        >
          <!-- Chat messages -->
          <ol id="chat-msgs" class="px-1 mb-0 overflow-auto" style="list-style-type: none; height: 442px">
            <li class="overflow-auto">
              <i class="bi bi-robot fs-2 mx-2 float-start"></i>
              <span class="float-start" style="margin-top: 12px">Hello, how can I help you ?</span>
            </li>
          </ol>

          <form id="q-form">
            <!-- Text box to send text to chatbot -->
            <input
              id="q"
              class="form-control position-absolute"
              name="q"
              placeholder="I want to ask something..."
              style="left: 16px; bottom: 16px; width: 408px"
            />

            <!-- Send button -->
            <button
              class="position-absolute btn btn-info rounded bg-info text-dark pt-2"
              style="bottom: 16px; right: 16px; height: 38px"
              type="submit"
            >
              <i class="bi bi-send fs-6"></i>
            </button>
          </form>
        </div>

        <div
          class="position-absolute bg-dark z-0"
          style="width: 16px; height: 16px; bottom: 72px; right: 24px; transform: rotate(45deg)"
        ></div>
      </div>

      <!-- Chat button -->
      <button
        type="button"
        class="position-absolute btn btn-dark rounded-circle ps-3 bottom-0 end-0 shadow"
        style="width: 64px"
        onclick="toggleChatRoom()"
      >
        <i class="fs-2 bi bi-chat-dots"></i>
      </button>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <script>
      document
        .querySelector('.menu-btn')
        .addEventListener('click', () => document.querySelector('.main-menu').classList.toggle('show'))

      // TODO: Copy this to other pages from here
      // Blinking to catch the user attention that there is a help chatbot
      const helloMsgOpacities = [1, 0, 1]
      let index = 0
      setTimeout(() => {
        const timer = setInterval(() => {
          document.getElementById('hello-msg').style.opacity = helloMsgOpacities[index]
          ++index
          if (index == helloMsgOpacities.length) clearInterval(timer)
        }, 100)
      }, 1000)

      function hideHelloMessage() {
        document.getElementById('hello-msg').style.opacity = 0
      }

      function toggleChatRoom() {
        hideHelloMessage()

        const chatRoom = document.getElementById('chat-room')
        chatRoom.style.opacity = 1 - chatRoom.style.opacity
      }

      document.getElementById('q-form').addEventListener('submit', async event => {
        // Dont refresh the page
        event.preventDefault()

        // Input
        const q = document.getElementById('q').value

        // Display user query
        const userMsg = document.createElement('li')
        userMsg.className = 'overflow-auto'
        userMsg.innerHTML = `
          <i class="bi bi-person-circle fs-2 mx-2 float-end"></i>
          <span class="float-end" style="margin-top: 12px">${q}</span>
        `
        document.getElementById('chat-msgs').appendChild(userMsg)

        // Clear user input
        document.getElementById('q').value = ''

        // Tell something to the chatbot
        const resp = await fetch('/faq_ans?' + new URLSearchParams({ q }))

        // Display chatbot response
        const botMsg = document.createElement('li')
        botMsg.className = 'overflow-auto'
        botMsg.innerHTML = `
          <i class="bi bi-robot fs-2 mx-2 float-start"></i>
          <span class="float-start" style="margin-top: 12px">${(await resp.json()).result}</span>
        `
        document.getElementById('chat-msgs').appendChild(botMsg)
      })
      // TODO: Until here
    </script>
  </body>
</html>
