<!--
    TODO: [N9]
    - use fake data for staff page
    - retrieve from database to have a page for each staff
        * should contain: Name of Staff, Designation, Department, Publications (if any), Contact Information, Research area
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <!-- Page title -->
    <title>Staff List | FOCS</title>

    <!-- Link CSS and favicon -->
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
  </head>

  <body translate="no">
    <div class="menu-btn">
      <i class="fas fa-bars fa-2x"></i>
    </div>

    <div class="container">
      <!-- Navigation bar -->
      <nav class="main-nav">
        <img class="logo" src="/static/logo.png" alt="Tunku Abdul Rahman University of Management and Technology" />

        <ul class="main-menu">
          <li>
            <a href="#">Home</a>
          </li>

          <li>
            <a href="#">About Us</a>
          </li>

          <li>
            <a href="#">Facilities</a>
          </li>

          <li>
            <a href="#">Research</a>
          </li>

          <li>
            <a href="#">External Advisors</a>
          </li>

          <li>
            <a href="#">Our Team</a>
          </li>
        </ul>

        <ul class="right-menu">
          <li>
            <a href="#">
              <i class="fas fa-search"></i>
            </a>
          </li>
        </ul>
      </nav>

      <!-- TODO: Search feature -->
      <header></header>

      <!-- TODO: Staff List (retrieve from database, use paging) -->
      <section></section>
    </div>
  </body>
</html>
